<?xml version="1.0" encoding="UTF-8"?>
<robot name="actuator" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="half_pi" value="1.57079632679" />

    <link name="base_plexi_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 -${half_pi} 0"/>
            <geometry>
                <cylinder length="0.008" radius="0.031"/>
            </geometry>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -${half_pi} 0"/>
            <geometry>
                <cylinder length="0.008" radius="0.031"/>
            </geometry>
        </collision>
    </link>
    <link name="base_plexi_2_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 -${half_pi} 0"/>
            <geometry>
                <cylinder length="0.008" radius="0.031"/>
            </geometry>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -${half_pi} 0"/>
            <geometry>
                <cylinder length="0.008" radius="0.031"/>
            </geometry>
        </collision>
    </link>
    <link name="venturi_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 -${half_pi} 0"/>
            <geometry>
                <box size="0.038 0.038 .020"/>
            </geometry>
            <material name="black">
                <color rgba="0 0 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -${half_pi} 0"/>
            <geometry>
                <box size="0.038 0.038 .020"/>
            </geometry>
        </collision>
    </link>
    <link name="suction_pad_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 -${half_pi} 0"/>
            <geometry>
                <cylinder length="0.025" radius="0.014"/>
            </geometry>
            <material name="blue">
                <color rgba="0 0 .5 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -${half_pi} 0"/>
            <geometry>
                <cylinder length="0.025" radius="0.014"/>
            </geometry>
        </collision>
    </link>
    <joint name="base_plexi_joint" type="fixed">
        <parent link="base_plexi_link"/>
        <child link="base_plexi_2_link"/>
        <origin xyz="0.008 0 0 "/>
    </joint>
    <joint name="base_plexi_2_joint" type="fixed">
        <parent link="base_plexi_2_link"/>
        <child link="venturi_link"/>
        <origin xyz="0.014 0 0 "/>
    </joint>
    <joint name="venturi_joint" type="fixed">
        <parent link="venturi_link"/>
        <child link="suction_pad_link"/>
        <origin xyz="0.0225 0.0 0.0 "/>
    </joint>
</robot>