<launch>
  <!-- Namespace for the node and services -->
  <arg name="ns"  default="ur5_pnp_demo" />
  
  <arg name="config" default="$(find move_group_ur5)/cfg/demo_gqcnn_pick_and_drop_single_object.yaml" />
  <arg name="world_camera_tf" default="$(find move_group_ur5)/cfg/sensor_to_world.tf" />
  
  <arg name="service_config" default="$(find move_group_ur5)/cfg/grasp_planner_node.suction.yaml" />
  <arg name="model_dir" default="$(find gqcnn)/models/GQ-Suction" />

  <node name="suction_pad_comm"
    pkg="rosserial_python"
    type="serial_node.py"
    output="screen" >
    	<param name="port" value="/dev/ttyUSB0" />
  </node>

  <node name="GQCNN_grasp_planner"  pkg="gqcnn" type="grasp_planner_node.py" output="screen" >
    	<param name="config"           value="$(arg service_config)" />
    	<param name="model_dir"           value="$(arg model_dir)" />
  </node>

  <node name="demo_gqcnn_pick_and_drop"
    pkg="move_group_ur5"
    type="demo_gqcnn_pick_and_drop_single_object.py"
    output="screen" >
    	<param name="config" value="$(arg config)" />
        <param name="world_camera_tf" value="$(arg world_camera_tf)" />
  </node>


  <!--<node pkg="tf"-->
        <!--type="static_transform_publisher"-->
        <!--name="world_to_camera"-->
        <!--args="-0.7 0.945 0.712 0.0 3.14159 0.0 world kinect2_camera_frame2 100"/>-->

  <node name="camera_to_world"  pkg="move_group_ur5" type="camera_world_broadcaster.py" output="screen" >
        <param name="world_camera_tf" value="$(arg world_camera_tf)" />
  </node>


</launch>