<?xml version="1.0" ?>
<robot name="table" xmlns:xacro="http://ros.org/wiki/xacro">


<!-- Definition of table dimensions  -->
<xacro:property name="tx" value="1.20" />
<xacro:property name="ty" value="1.0" />
<xacro:property name="tz" value="0.56" />

<material name="white">
  <color rgba="0.85 0.85 0.85 1"/>
</material>


<xacro:macro name="table" params="name">
  <link name="table">
    <visual>
      <!-- xyz point is zero of tye parent link -->
      <origin rpy="0 0 0" xyz="-${tx * 0.5} ${ty * 0.5} -${tz * 0.5}"/>
      <geometry>
        <box size="${tx} ${ty} ${tz}"/>
      </geometry>
      <material name="white" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-${tx * 0.5} ${ty * 0.5} -${tz * 0.5}"/>
      <geometry>
        <box size="${tx} ${ty} ${tz}"/>
      </geometry>
    </collision>
  </link>
</xacro:macro>

</robot>

